@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: 'Overpass';
    font-display: swap;
    src: url('../fonts/Overpass.woff2');
    font-style: normal;
}

@theme {
    --font-sans: 'Overpass', ui-sans-serif, system-ui, sans-serif;
}

body {
    @apply bg-zinc-800 text-zinc-200 text-pretty
}

